.Footer{
    width:100vw;
    margin:auto;
}

.footer1{
    /* margin:40px 80px; */
    margin-top:34px;
}

.footer11{
    width: 100vw;
    /* margin-left:80px; */
    /* height: 176px; */
    margin:auto;

}
