.debit_box{
    position: absolute;
width: 466px;
height: 340px;
left: 429px;
top: 222px;

background: #FFFFFF;
/* Blur 3 (Nav bar) */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.debit_first{
    
position: static;
width: 121px;
height: 20px;
left: 12px;
top: 15px;

/* Body/Semibold */

font-family: Source Sans Pro;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;

/* Primary/Fade black */

color: #3F414D;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
margin-top: 15px;
margin-left: 22px;
}
.debit_bar{
    position: static;
width: 446px;
height: 0px;
left: 10px;
top: 10px;

border: 0.8px solid #E6DEDE;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 10px 10px;
margin-top: 15px;
}

.debit_card{
    position: static;
width: 446px;
height: 40px;
left: 10px;
top: 10px;



/* Inside Auto Layout */
border: none;
outline: none;
border-bottom: 0.8px solid #E6DEDE;
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 10px;

}

.debit_card:placeholder{
    margin-left: 22px;
}

.expiray{
    
position: static;
width: 44px;
height: 20px;
left: 0px;
top: 0px;

/* Body/Semibold */

font-family: Source Sans Pro;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;

/* Neutral/Light Grey */

color: #A7A7A7;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 21px;
margin-top: 22px;


}

.date1{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 138px;
height: 30px;
left: 0px;
top: 28px;

background: #FFFFFF;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);

/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 8px 21px;
margin-right: 0px;
border: none;
outline: none;
border-bottom: 0.8px solid #E6DEDE;
}

.credentials{
    display: flex;
}
.cvv{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px 4px;

position: absolute;
width: 68px;
height: 30px;
left: calc(50% - 68px/2 - 31px);
top: calc(50% - 30px/2 + 15px);

background: #FFFFFF;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
margin-top: 2px;
border: none;
outline: none;
border-bottom: 0.8px solid #E6DEDE;
}

.credit{
    
position: absolute;
left: 54%;
right: 5.77%;
top: 50.5%;
bottom: 19.23%;

/* Neutral/Light Grey */


}

.last_3_digit{
    
position: static;
width: 120px;
height: 44px;
left: 56px;
top: 4px;

/* Body/Semibold */

font-family: Source Sans Pro;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* or 143% */

display: flex;
align-items: center;

/* Neutral/Light Grey */

color: #A7A7A7;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 4px;
margin-left: 150px;

}
.save{
    position: absolute;
width: 22px;
height: 22px;
left: 23px;
top: 231px;

/* Alert/Safety */

background: #008945;
border-radius: 1px;
}

.save_box > p{
    
position: static;
width: 159px;
height: 20px;
left: 64px;
top: 2px;

/* Body/Regular */

font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

/* Primary/Fade black */

color: #3F414D;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 20px 60px;
margin-bottom: 0px;

}