.cart_cont{
    
position: absolute;
width: 376px;
height: 642px;
left: 920px;
top: 112px;

background: #F3F3F3;
/* Blur 3 (Nav bar) */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.first_cart{
    display: flex;
position: absolute;
width: 376px;
height: 52px;
left: 0px;
top: 0px;

background: #FFFFFF;
}

.cart_details{
    position: absolute;
width: 376px;
height: 178px;
left: 0px;
top: 464px;

background: #FFFFFF;
}
.bar{
    position: static;
width: 346px;
height: 0px;
left: 0px;
top: 54px;

/* Neutral/Light Grey */

border: 0.5px solid #A7A7A7;

/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 10px 0px 10px;

}
.cart_value{
    position: static;
width: 99px;
height: 19px;
left: 10px;
top: 10px;

/* Button/Regular */

font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;

/* Primary/Fade black */

color: #3F414D;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 10px 10px 0px 10px;
}
.cart_value_green{
    position: static;
width: 99px;
height: 19px;
left: 10px;
top: 10px;

/* Button/Regular */

font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;

/* Primary/Fade black */

color: #008945;



/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 10px 10px 0px 10px;
}

.money{
    position: static;
width: 38px;
height: 19px;
left: 10px;
top: 10px;

/* Button/Regular */

font-family:'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;

/* Primary/Fade black */

color: #3F414D;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin-left: 180px;
margin-top: 10px;
}
.money_free{
    position: static;
width: 38px;
height: 19px;
left: 10px;
top: 10px;

/* Button/Regular */

font-family:'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;

/* Primary/Fade black */

color: #008945;;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin-left: 180px;
margin-top: 10px;
}
.total{
    display: flex;
margin-bottom: -5px;
}

.Items{
    position: static;
width: 130px;
height: 20px;
left: 10px;
top: 10px;

/* Overline/Semi-bold */

font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

display: flex;
align-items: center;
letter-spacing: 0.06em;

/* Extended palette/Dull Orange */

color: #E8734C;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
/* margin: 0px 10px; */
margin-top: 20px;
margin-left: 10px;
}

.edit{
    position: static;
width: 24px;
height: 14px;
left: 0px;
top: 0px;

/* Button/Regular */

font-family:'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
letter-spacing: 0.04em;

/* Primary/Petal pink */

color: #FC2779;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
/* margin: 20px 76px; */
margin-top: 22px;
margin-left: 180px;
}