.nav_container{
    position: absolute;
width: 100%;
height: 5rem;
left: 1px;
top: 0px;

background: #FFFFFF;
display: flex;

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.second_box{
    border-right: 0.5px solid #A7A7A7;
    height: 64px;
    width: 17%;
    left: 0px;
    top: 8px;
    border-radius: nullpx;
    
position: static;
left: 0%;
right: 0%;
top: 10%;
bottom: 10%;
/* visibility: hidden; */
/* Button/Semibold */

font-family: 'Source Sans Pro', sans-serif;;
font-style: normal;
font-weight: 600;
font-size: 1rem;
line-height: 136%;
/* or 22px */

display: flex;
align-items: center;
text-align: center;
/* Extended palette/ Dark pink */

color: #03021A;
  
/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;

}
/* .second_box:hover{
    visibility: visible;
} */


.second_box > p{
    margin-left: 0.4rem;
    text-align: center;
    margin-top: 1rem;
}

.first_box{
width: 25%;


}

.second_box_line{
    height:64px;
    border-right: 0.5px solid #A7A7A7;
    margin-top: 10px;
}
/* .first_box > div{
    border-right: 1px solid gray;
    height: 60px;
} */
.first_box > div > img{
    height: 35.1009521484375px;
width: 6.7rem;
left: 5.68701171875px;
top: 14px;
border-radius: 0px;

position: absolute;
left: 7.78%;
right: 4.77%;
top: 27.85%;
bottom: 19.63%;

}


