
/* shopping bag css */
.main-div-shopping-bag_login {
    /* width:400px; */
    /* display:flex; */
    /* height: 220px; */
    /* flex-direction: column; */
    background: #E5E5E5;
    margin-top: -69px;
    
}
.individual-items_login {
    display:flex;
    flex-direction: column;
    
}
.add-more-items {
    text-align: center;
    background: #ffffff;
    margin-top:10px;
    padding-top:10px;
}
.pink-text {
    
    color:#FC2779;
    font-weight:600;
}

.head-img {
    display:flex;
    background-color: #ffffff;
  
    height:42px;
    padding:5px;
    width: 379px;

    margin-top: -13px;
    margin-left: 9px;

}
.bag-heading {
    
    background-color: #ffffff;
    margin-left:120px;
    font-weight: 600;
}

.left-arrow {
    width:12px;
    height:20px;
    text-align:left;
    margin-left:10px;
    
}
.add-icon {
    width:14px;
    height:14px;
    margin-top:-5px;
}

.product_div_login{
    margin-top:1px;
}
 

 /* item_bag css */

 .parent-container_login {
     width:380px;
     margin: auto;
     /* margin-top: 10px; */
     background: #FFFFFF;
     /* Blur 2 (Cards) */
     
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
     

     background:#ffffff;
     /* border:2px solid red; */
     margin-top:85px;
     padding:5px;

 }
 .children-container_login {
   
     width:360px;
     height:90px;
     margin-left:12px;
     margin-top:10px;
     /* border:2px solid blue; */
     display:flex;
      border-bottom: 2px solid #E5E5E5; 

 }
 
.image-container_login  > img {
    width:90px;
    height:88px;
    /* border:2px solid green; */

}
.name-container {
    width:260px;
    padding-top:10px;
    height:90px;
    /* border:2px solid yellow;  */
    color:black;
    margin-left:5px;
    font-size:14px;


}
.icon-container {
    width:18px;
    margin-left:10px;
    padding-top: 10px;

}

.price-quantity-container {
    width:380px;

    display:flex;
    justify-content:space-between;
    /* border:2px solid orangered; */
    
}
.marg-left {
    margin-left:10px;
}
.fw-text {
    font-weight: 600;
    margin-right:14px;
}
.down-arrow {
    width:12px;
    height:8px;
}
.delete-icon {
    width:12px;
    height:16px;
}


/* payment detail css */

.payment-details-flex {
    display:flex;
    flex-direction: column;
    width:400px;
    border:2px solid green; 
    background: #ffffff;
    height:300px;
    
}
.payment-heading {
    background: #E5E5E5;
    text-align: center;
    font-weight: 600;
    height:46px;
    padding:5px;

}
.flex-payment {
    display:flex;
    justify-content: space-between;
    margin-left:10px;
    margin-right:15px;
    margin-top:10px;
    background: #ffffff;
}

.bag-discount {
    color:green;

}
.grandi {
    margin-left:10px;
}
.coupon-box {
    display:flex;
    justify-content: space-between;
    margin-left:10px;
    margin-right:15px;
    margin-top:10px;
    background-color: #E5E5E5;
    padding:5px

}







/* total pay css */
.bag-final-flex {
    width:400px;
    height:50px;
    
    display:flex;
    justify-content:space-between ;
    margin-top:90px;
}

.grand-total-final {
    width:200px;
    height:50px;
    border-top:1px solid black;
    background: #ffffff;
}
.proceed-button {
    width:200px;
    color:white;
    background-color: #FC2779;
    height:50px;
}
.right-arrow-icon {
    width:8px;
    height:12px;
    margin-top: -5px;
}

.cart_details_main_div{
    width: 400px;
    height: 239px;
    background: #E5E5E5;
    margin: auto;
    margin-top: -39px;
}

.cart_details_login {
    width: 376px;
    height: 178px;
    margin: auto;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 25%);
    margin-top: 50px;
    background: #ffff;
    position: absolute;
    margin-left: 12px;
  }

  .shopping_bag_loginpage{
      position:absolute;
      top: 95px;
  }


