
  img {
    background: #ffffff;
    box-shadow: 0px 1px 1px rgba(235, 202, 202, 0.25);
  }
  nav.carousel label {
    display: inline-block;
    background: #FFFFFF;
    overflow: hidden;
    text-indent: -999px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    box-shadow: inset 0 1px 1px 0 #999;
  }

  nav.carousel input[type=radio] {
    display: none;
  }

   nav.carousel:hover {
    cursor: default;
  }
  nav.carousel label:hover {
    background: #bbb;
    cursor: pointer;
    box-shadow: inset 0 1px 1px 0 #777;
  }
  nav.carousel input:checked  {
    background: linear-gradient(#FFFFFF, #bc1414);
    box-shadow: inset 0 0 1px 1px #FFFFFF;
  }
  
  
  .category {
    width:85%;
   
    display: grid;
    grid-template-columns: 19% 19% 19% 19%;
    justify-content: center;
    gap:5.5%;
    margin-left:6%;
    margin-right:7%;
    margin-top: 25px;
    
  }
  
  .category img {
      width:260px;
      height:80px;
      background: #ffffff;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
      margin-bottom:16px;
      
  }



  .shop_by_concern {
      width:80%;

    
      /* border:2px solid black; */
      
      margin:auto;
      margin-top:25px;
  }

  .shop_by_concern img {
    width:42%;
  }
  .margiri {
    margin-right:2%;
  }

  .luxe-brands {
      width:80%;
      margin:auto;
      margin-top:25px;
      /* border:2px solid black; */
  }
  .luxe-brands img {
    width:42%;
  }