.hslider_multi {
    width: 100%;
    margin: auto;

  }
  .hslider1 {
    width: 100%;
    margin: auto;
  }
  
  .hslider-images-slider1 {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  }
  
  .hslick-arrow::before,
  .hslick-prev::after {
    color: black;
    background-color: #ffffff;
  }
  

  