* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  padding: 0px;
 
  
}



<<<<<<< HEAD
=======
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (min-width: 992px) {
 
}

@media  screen and (max-width: 992px){
  .App{
    font-size: 4px;
  }
}
>>>>>>> bf6c642f14830020a306d51c3a979623f592aac0
